<h2>Round <%= GAME.round %></h2>

<% if params[:selection] %>
<p>
  <% if GAME.round_winner == @current_player %>
      <%= @opponent.name %> chose <%= @opponent.selection %>. You won that round. What would you like to choose next?
  <% elsif GAME.round_winner == @opponent %>
      <%= @opponent.name %> won that round wth <%= @opponent.selection %>! What would you like to choose next?
  <% end %>
  <% if GAME.round_winner.nil? %>
      That was a tie! What would you like to choose next?
  <% end %>
</p>
<% end %>

<% unless params[:selection] %>
  <p>
    Hi <%= @current_player.name %>! What would you like to choose?
  </p>
<% end %>

<form action='/game' method='post'>
  <input type="submit" name="selection" value="rock">
  <input type="submit" name="selection" value="paper" >
  <input type="submit" name="selection" value="scissors">
</form>
