<h2>Round <%= GAME.round %></h2>

<% if params[:selection] %>

  <% if @round_winner == @player %>
    <p>
      You won that round!
    </p>
    <p>
      <%= @opponent.name %> chose <%= @opponent.selection %>.
    </p>
    <p>
      What would you like to choose next?
    </p>
  <% elsif @round_winner == @opponent %>
    <p>
      <%= @opponent.name %> won that round wth <%= @opponent.selection %>!
    </p>
    <p>
      What would you like to choose next?
    </p>
  <% end %>

  <% if @round_winner.nil? %>
    <p>
      That was a tie! What would you like to choose next?
    </p>
  <% end %>

<% end %>

<% unless params[:selection] %>
  <p>
    Hi <%= @current_player.name %>! What would you like to choose?
  </p>
<% end %>

<form action='/game' method='post'>
  <input type="submit" name="selection" value="Rock">
  <input type="submit" name="selection" value="Paper" >
  <input type="submit" name="selection" value="Scissors">
</form>
